<link href="https://fonts.google.com/">
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue|DM+Serif+Display|Oswald|Source+Serif+Pro&display=swap" rel="stylesheet">
#headline{
font-family: 'Bebas Neue', cursive;
font-size: 59px;
background-color: lightgrey;
text-align: center;
}

h1{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 59px;
  background-color: lightgrey;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}

h2, h3, h4, h6{
    text-align: left;
    font-family: 'DM Serif Display', serif;
    font-size: 26px;
    max-width: 1000px;
    margin: 20px auto;
   }

 h5 {
     text-align: center;
     font-weight: bold;
     font-family: 'DM Serif Display', serif;
     font-size: 26px;
}
.cap1{
    font-size:12px;
}
p{
  font-family:'Source Serif Pro', serif;
  font-size: 20px;
  max-width: 1000px;
  margin: 20px auto;
}
#byline{
  text-align: left;
  font-size: 600px;
  margin: 0;
}
.ummtr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.shoe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 50%;
}
.img-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.img-one img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.img-one p{
  text-align: right;
}
.center{
  text-align:justify;
}

.damage-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 500px;
}
.damage-img img{
  max-width: 500px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.img-3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: inherit;
  max-width: 1000px;
}
.img-4 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.img-5 img{
  margin-right: 50px;
  max-width: 700px;
  float:left;
  margin-bottom: none;
  padding-bottom: .5em;
  text-align:left;
}

.more{
    font-family:'Source Serif Pro', serif;
    font-size: 20px;
    max-width: 1000px;
    margin: 20px auto;
}
.CR{
    font-size: 15px;
    font-style: italic;
    text-align: right;
}
